body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

.app {
  background-color: #424874;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.password-generator {
  width: 300px;
  background-color: #a6b1e1;
  color: #424874;
}

.password-container {
  display: flex;
  align-items: center;
  background: #f4eeff;
  height: 50px;
  margin-bottom: 1rem;
}

.password {
  color: #424874;
  font-size: 1.25rem;
  font-weight: bold;
  padding-inline: 1rem;
  margin: 0;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
}

.password-copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #424874;
  padding-right: 1.2rem;
  margin-left: auto;
}

.password-form {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
}

.password-form > div {
  margin-block: 0.5rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-input {
  background-color: #f4eeff;
  border: none;
  width: 40px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
}

.generate-password-btn {
  background-color: #f4eeff;
  border: none;
  color: #424874;
  cursor: pointer;
  padding: 0.625rem;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.25rem;
  font-weight: bold;
  margin-inline: auto;
  margin-block: 1rem;
}

.generate-password-btn:hover {
  background: #424874;
  color: #f4eeff;
}

.generate-password-btn:focus {
    background: #424874;
    color: #f4eeff;
  }

.generate-password-btn:active {
  background: #f4eeff;
  color: #424874;
}
